<header class="header d-flex justify-content-between align-items-center">
    <div class="menu-icon" onclick="openSidebar()">
      <span class="material-icons">menu</span>
    </div>
    <div class="header-left">
      <img src="/YourPrints_logo.png" alt="LOGO" height="40vh">

    </div>
    <div class="header-right">
      <a href="">
        <button class="header-icon-btn">
          <span class="material-symbols-outlined">mail</span>
        </button>
        </a>
        <a href="">
        <button class="header-icon-btn">
          <span class="material-symbols-outlined">notifications</span>
        </button>
        </a>
        <a href="/admin/profile">
        <button class="header-icon-btn">
          <span class="material-symbols-outlined">person</span>
        </button>
        </a>
    </div>
  </header>