<aside id="sidebar">
    <div class="sidebar-title d-flex justify-content-between align-items-center p-2">
      <div class="sidebar-brand mt-1">
        <span class="material-icons">dashboard</span> Admin Dashboard
      </div>
      <span class="material-icons" id="close" onclick="closeSidebar()">close</span>
    </div>
    <ul class="sidebar-list mt-1">
      <li class="sidebar-list-item p-2">
        <span class="material-icons">poll</span> <a href="/admin/adminpannel">Overall Analysis</a>
      </li>
      <li class="sidebar-list-item p-2">
        <span class="material-icons">post_add</span> <a href="/admin/addProduct">Add Product</a>
      </li>
      <li class="sidebar-list-item p-2">
          <span class="material-icons">inventory_2</span>
          <a href="/admin/products">View Products</a>
      </li>
      <li class="sidebar-list-item p-2">
        <span class="material-icons">shopping_cart</span> <a href="/admin/orders">View Orders</a>
      </li>
      <li class="sidebar-list-item p-2">
        <span class="material-icons">payments</span> <a href="/admin/payments">View Payments</a>
      </li>
      <li class="sidebar-list-item p-2">
        <span class="material-icons">shopping_cart</span> <a href="#!sales">Sales Orders</a>
      </li>
    </ul>
  </aside>