<!-- <footer class="container d-flex flex-wrap justify-content-between align-items-center py-3 my-4">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
        <img src="/Assets/YourPrints_logo.png" alt="LOGO" height="20vh">
      </a>
      <span class="mb-3 mb-md-0 text-body-secondary">© 2023 YourPrints</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="text-body-secondary" href="#"><ion-icon name="logo-instagram"></ion-icon></a></li>
      <li class="ms-3"><a class="text-body-secondary" href="#"><ion-icon name="logo-facebook"></ion-icon></a></li>
      <li class="ms-3"><a class="text-body-secondary" href="#"><ion-icon name="logo-google"></ion-icon></a></li>
    </ul>
  </footer> -->

  <footer class="footer">
    <div class="sec-container py-5 d-flex justify-content-between flex-wrap">
      <span class="p-1">
        <h3 class="my-3">Join our Newsletter</h3 class="my-3">
        <p class="d-flex flex-wrap">Drop your email below to get update about us, latest products, latest designs, and more!</p>
        <input type="email" name="Email" id="" class="p-1 mt-1" placeholder="Email">
      </span>
      <span class="p-1">
        <h3 class="my-3">Product Links</h3 class="my-3">
        <ul>
          <li><a href="#">Categories</a></li>
          <li><a href="#">New Arrivals</a></li>
          <li><a href="#">Collections</a></li>
          <li><a href="#">Features</a></li>
        </ul>
      </span>
      <span class="p-1">
        <h3 class="my-3">Quick Links</h3 class="my-3">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Products</a></li>
          <li><a href="#">Customise</a></li>
          <li><a href="#">Wishlist</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </span>
      <span class="p-1">
        <h3 class="my-3">Support</h3 class="my-3">
        <li><a href="#">Email: yourprints@gmail.com</a></li>
        <li><a href="#">Phone No: 1234567890</a></li>
      </span>
      <span class="p-1">
        <h3 class="my-3">Get In Touch</h3 class="my-3">
        <span>
          <a href="#">
            <img width="25" height="25" src="https://img.icons8.com/ios-glyphs/30/instagram-new.png" alt="instagram-new"/>
          </a>
          <a href="#">
            <img width="25" height="25" src="https://img.icons8.com/ios-filled/50/facebook--v1.png" alt="facebook--v1"/>            </a>
          <a href="#">
            <img width="25" height="25" src="https://img.icons8.com/ios-filled/50/linkedin.png" alt="linkedin"/>            </a>
        </span>
      </span>
    </div>
  </footer>

