<!-- <header>
    <div class="container mt-4">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
          <img src="/YourPrints_logo.png" alt="LOGO" height="40vh">
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 mx-5">
          <li><a href="/" class="nav-link px-2 link-body-emphasis">Home</a></li>
          <li><a href="/product" class="nav-link px-2 link-body-emphasis">Products</a></li>
          <li><a href="/wishlist" class="nav-link px-2 link-body-emphasis">Wishlist</a></li>
          <li><a href="/contact" class="nav-link px-2 link-body-emphasis">Contact</a></li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
          <input type="search" id="search" class="form-control bg-light" placeholder="Search..." aria-label="Search">
        </form>
        <div class="cart mx-3">
          <ion-icon name="bag-handle"></ion-icon>
          <span class="position-absolute top-2 translate-middle badge rounded-pill bg-danger h6 px-2 py-1 fs-6">1</span>
        </div>

        <div class="dropdown text-end">
          <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://tse4.mm.bing.net/th?id=OIP.TctatNGs7RN-Dfc3NZf91AAAAA&pid=Api&P=0&h=220" alt="mdo" width="32" height="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-small">
            <li><a class="dropdown-item" href="/profile">Profile</a></li>
            <li><a class="dropdown-item" href="/wishlist">Wishlist</a></li>
            <li><a class="dropdown-item" href="/orders">Recent Orders</a></li>
            <li><a class="dropdown-item" href="#">Track Order</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header> -->

<!-- Header -->
<header class="home-header d-flex justify-content-between align-items-center">
  <div class="menu-icon" onclick="openSidebar()">
    <span class="material-icons">menu</span>
  </div>
  <div class="header-left d-flex">
    <!-- <span class="logo d-flex justify-content-center align-items-center">YOURPRINTS</span> -->
    <img src="/YourPrints_logo.png" alt="LOGO" height="40vh">
    <ul class="menu mx-1 d-flex">
      <li class="mx-2 mt-1"><a href="/">Home</a></li>
      <li class="mx-2 mt-1"><a href="/product">Products</a></li>
      <li class="mx-2 mt-1"><a href="/customise">Customise</a></li>
      <li class="mx-2 mt-1"><a href="/wishlist">Wishlist</a></li>
      <li class="mx-2 mt-1"><a href="/contact">Contact</a></li>
    </ul>
  </div>
  <div class="header-right d-flex">
    <span class="search-bar d-flex">
      <form role="search" class="search-input">
          <input type="search" class="p-1" placeholder="Search...">
      </form>
      <button class="header-icon-btn search-btn">
          <span class="material-symbols-outlined">search</span>
      </button>
    </span>
    <a href="/cart">
    <button class="header-icon-btn">
      <span class="material-symbols-outlined">local_mall</span>
    </button>
    </a>
    <a href="/wishlist">
    <button class="header-icon-btn">
      <span class="material-symbols-outlined">favorite</span>
    </button>
    </a>
    <a href="/profile" class="profile-link">
      <button class="header-icon-btn profile">
          <span class="material-symbols-outlined">person</span>
      </button>
  </a>
  <button id="dropdown-toggle" onclick="openProfileblock()">
      <span class="material-symbols-outlined">
          arrow_drop_down
      </span>
  </button>
  <div class="profile-toggle-block p-2">
      <div class="p-1">
          <h2>Username</h2>
          <p>Address</p>
      </div>
      <hr/>
      <div class="p-1"><a href="/profile">Profile</a></div>
      <div class="p-1"><a href="/orders">Orders</a></div>
      <div class="p-1"><a href="/wishlist">Wishlist</a></div>
      <div class="p-1"><a href="/logout">Log Out</a></div>
  </div>
  
  </div>
</header>
<!-- End-header -->

<!-- Sidebar -->
<aside id="home-sidebar">
  <div class="sidebar-title d-flex justify-content-between align-items-center p-3">
    <div class="sidebar-brand mt-1">
      <h3 class="p-2">Menu</h3>
    </div>
    <span class="material-icons" id="close" onclick="closeSidebar()">close</span>
  </div>
  <ul class="sidebar-list mt-1">
    <li class="sidebar-list-item p-2">
      <a href="/">Home</a>
    </li>
    <li class="sidebar-list-item p-2">
      <a href="/products">Products</a>
    </li>
    <li class="sidebar-list-item p-2">
      <a href="/customise">Customise</a>
    </li>
    <li class="sidebar-list-item p-2">
      <a href="/wishlist">Wishlist</a>
    </li>
    <li class="sidebar-list-item p-2">
      <a href="/contact">Contact</a>
    </li>
  </ul>
</aside>
<!-- End-sidebar -->