/* Admin Pannel Media Queries */

  /* Medium <= 992px */
  @media screen and (max-width: 992px) {
    .grid-container{
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 3fr;
        grid-template-areas: "header"
        "main";
    }
    #sidebar {
        display: none;
    }
    .menu-icon{

        display: inline;
    }
    .sidebar-title > span{
        display: inline;
    }
    #close{
        display: inline;
    }
    .header-left .menu{
        display: none !important;
    }
    #search{
        display: block;
    }
    .search{
        display: none;
    }
  }

  /* Small <= 768px */
  @media screen and (max-width: 768px) {
    .main-cards{
        grid-template-columns: 1fr;
        gap: 10px;
        margin-bottom: 0;
    }
    .charts{
        grid-template-columns: 1fr;
        margin-top: 30px;
    }
  }

  /* Extra small <= 576px */
  @media screen and (max-width: 576px) {
    .add-prod-form{
        width: 100%;
        place-items: center;
        padding: 0;
    }
    .add-prod-form{
        width: 100% !important;
        padding: 10px;
    }
    .user-box input,select{
        width: 80%;
    }
  }

/*Admin Pannel Order Page  */
@media screen and (max-width: 576px) {
    .order-table td, th{
        padding: 10px;
        font-size: 7px;
    }
    .shipped span{
        padding: 5px;
    }
    .delivered span{
        padding: 5px;
    }
    .processing span{
        padding: 5px;
    }
}

